<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDH17-S615KBt61fMqDj9o-cyeeAGVGpJo</string>
	<key>GCM_SENDER_ID</key>
	<string>846547418387</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.IM110</string>
	<key>PROJECT_ID</key>
	<string>im110-6f7ba</string>
	<key>STORAGE_BUCKET</key>
	<string>im110-6f7ba.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:846547418387:ios:7bc24ffe2ad503b153eee6</string>
</dict>
</plist>