<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAsqLPaiEyEgibBa8F2KwS1vONz-8Qc-Io</string>
	<key>GCM_SENDER_ID</key>
	<string>476668075702</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cyutgp110</string>
	<key>PROJECT_ID</key>
	<string>cyutgp110ime</string>
	<key>STORAGE_BUCKET</key>
	<string>cyutgp110ime.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:476668075702:ios:e1f8f68718a40a0b1fd017</string>
</dict>
</plist>